<h1> Login </h1>

<form action="<%= session_url %>" method="POST">
  <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

  <label for="email">Email: </label>
  <input type="text" id="email" name="user[email]" value="<%= @user.email %>">
  <br><br><br>

  <label for="password">Password: </label>
  <input type="text" id="password" name="user[password]" value="<%= @user.password %>">
  <br><br><br>

  <input type="submit" value="Log in!"></label>
</form> 