<h1> New Band </h1>

<form action="<%= bands_url %>" method="post">
  <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

  <label for="name">Band Name: </label>
  <input type="text" id="name" name="band[name]" value="<%= @band.name %>">
  <br><br><br>

  <input type="submit" value="Add Band"></label>
</form>